<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Register</h1>

    <form action="/user/register" method="post">
      <div>
        <label for="username">Enter name</label>
        <input type="text" name="username" id="username" />
      </div>

      <div>
        <label for="email">Enter Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
      </div>

      <div>
        <label for="age">Enter age</label>
        <input type="number" name="age" id="age" />
      </div>
      <button>Register</button>
    </form>

    <script src="" async defer></script>
  </body>
</html>
