<% layout('layout/boilerplate') %>
  <link rel="stylesheet" href="/css/login-register.css">

  <div class="login-register">
    <h1 class="text-center">Register</h1>
    <form action="/user/register" method="post">
      <div class="mb-3">
        <input type="text" name="first_name" id="first_name" placeholder="First Name"/>
      </div>

      <div class="mb-3">
        <input type="text" name="last_name" id="last_name" placeholder="Last Name"/>
      </div>
  
      <div class="mb-3">
        <input type="text" name="email" id="email" placeholder="Email"/>
      </div>
      <div class="mb-3">
        <input type="text" name="password" id="password" placeholder="Password"/>
      </div>
      <button class="login-btn">Register</button>
    </form>
  </div>

  <script src="" async defer></script>